.bottle-container {
  min-height: 30px;
}

.bottle-big-desk {
  position: absolute;
  top: 53px;
  left: 0;
  width: 70%;
}

.bootle-picture {
  left: 5%;
  padding: 30px 0 40px 0;
}

.bootle-mini-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 80px;
  margin-top: 30px;

  img {
    max-height: 238px;
    margin: 10px;
  }
}
@media (max-width: 760px) {
  .bootle-mini-container {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .bottle-big-desk {
    min-width: 340px;
  }
  .bootle-mini-container {
    img {
      max-height: 176px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1120px) {
  .bottle-big-desk {
    max-width: 313px;
    left: 20%;
  }
}

@media (min-width: 1562px) {
  .bottle-big-desk {
    max-width: 313px;
    left: 35%;
  }
}

@media (min-width: 1800px) {
  .bottle-big-desk {
    max-width: 313px;
    left: 50%;
  }
}

@media (min-width: 2000px) {
  .bottle-big-desk {
    max-width: 313px;
    left: 70%;
  }
}

@media (min-width: 2200px) {
  .bottle-big-desk {
    max-width: 313px;
    left: 90%;
  }
}

@media (min-width: 2500px) {
  .bottle-big-desk {
    max-width: 313px;
    left: 100%;
  }
}
