.button {
  background: var(--orange);
  border-radius: 28px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--text-bold);
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.button a {
  text-decoration: none;
}

.button span {
  user-select: none;
}

.button-minus {
  border: solid 1.5px #131313;
  border-radius: 28px;
  padding: 10px 25px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.button:hover {
  background: var(--dark-orange);
  scale: 1.1;
}

.button:active {
  scale: 0.95;
}

.button-yellow {
  background: var(--yellow);
}

.button-yellow:hover {
  background: var(--dark-yellow);
}

.button-green {
  background: var(--green);
}

.button-green:hover {
  background: var(--dark-green);
}

.button-orange {
  background: var(--orange);
}

@media (max-width: 992px) {
  .button {
    font-size: 11px;
  }
}

.button-container {
  margin: 10px 0 90px 0px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 760px) {
  .button-container {
    margin: 10px;
  }
}

@media (min-width: 1200px) {
  .button-container {
    margin: 10px 0 127px 0px;
  }

  .button-container-detail {
    margin: 10px 0 130px 0px;
  }
}
