.button {
  background: var(--orange);
  border-radius: 28px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.button a {
  text-decoration: none;
}

.button-minus {
  border: solid 1.5px #131313;
  border-radius: 28px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.button-yellow {
  background: var(--yellow);
}

.button-green {
  background: var(--green);
}

.button-orange {
  background: var(--orange);
}

@media (max-width: 992px) {
  .button {
    font-size: 11px;
  }
}

.button-container {
  padding: 10px 0 90px 0px;
}

@media (max-width: 760px) {
  .button-container {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .button-container {
    padding: 10px 0 200px 0px;
  }
}
