// carousel ingredient

.carousel-ingredient {
  background: #f3f3f3;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  font-family: Satoshi-Medium;
  font-size: 18px;
  align-items: center;
  margin: 15px 0;
  padding: 7px 5px;
  position: relative;
  z-index: 200;

  span {
    z-index: 800;
  }
}

.carousel {
  position: relative;

  a {
    font-size: 16px;
    z-index: 800;
    padding: 0 5px;
  }
}

// carousel langugage

.carousel-language {
  background: #f3f3f3;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px 8px;
  overflow: hidden;
  top: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    scale: 1.1;
  }
  a:hover {
    color: rgb(87, 24, 4);
  }
}

// carousel detail

.carousel-selection {
  background-color: var(--yellow);
  border-radius: 18px;
  padding: 18px 18%;
  z-index: 300;
  left: 0;
  position: absolute;
}

.carousel-selection-valeurs {
  background-color: var(--orange);
  padding: 18px 21%;
  left: 292px;
}

.carousel-selection-language {
  background-color: var(--yellow);
  border-radius: 50px;
  padding: 14px 19%;
  z-index: 300;
  left: 0;
  position: absolute;
}

.carousel-selection-labels {
  left: 146px;
  padding: 18px 17%;
}

@media (max-width: 760px) {
  .carousel-selection-valeurs {
    padding: 18px 22%;
    left: 261px;
  }

  .carousel-selection-labels {
    padding: 18px 22%;
    left: 221px;
  }
}

@media (min-width: 992px) {
  .carousel-selection-valeurs {
    padding: 18px 17%;
    left: 129px;
  }

  .carousel-selection-labels {
    padding: 18px 22%;
    left: 252px;
  }
}

@media (min-width: 1200px) {
  .carousel-selection-valeurs {
    padding: 18px 22%;
    left: 251px;
  }

  .carousel-selection-labels {
    padding: 18px 22%;
    left: 251px;
  }
}

@media (min-width: 1201px) {
  .carousel-selection-valeurs {
    padding: 18px 22%;
    left: 304px;
  }

  .carousel-selection-labels {
    padding: 18px 19%;
    left: 148px;
  }
}

@media (min-width: 1400px) {
  .carousel-selection-valeurs {
    padding: 18px 22%;
    left: 358px;
  }

  .carousel-selection-labels {
    padding: 18px 20%;
    left: 169px;
  }
}
