.carousel-ingredient {
  background: #f3f3f3;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  font-family: Satoshi-Medium;
  font-size: 18px;
  align-items: center;
  margin: 15px 0;
  padding: 7px 5px;
  position: relative;
  z-index: 200;

  span {
    z-index: 800;
  }
}

.carousel {
  position: relative;
}

.carousel-language {
  background: #f3f3f3;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
  overflow: hidden;
  top: 2px;
}

.carousel-selection {
  background-color: var(--yellow);
  border-radius: 18px;
  padding: 18px 18%;
  z-index: 300;
  left: 0;
  position: absolute;
}

.carousel-selection-language {
  background-color: var(--yellow);
  border-radius: 50px;
  padding: 14px 19%;
  z-index: 300;
  left: 0;
  position: absolute;
}

.carousel a {
  font-size: 16px;
  z-index: 800;
  padding: 0 5px;
}
