.footer-container {
  display: flex;
}

.footer-table {
  padding: 40px 0;
  display: flex;
}

.footer-in-table {
  padding-right: 20px;
}

@media (max-width: 760px) {
  footer {
    text-align: start;
  }
  .footer-legal-mentions {
    display: block;
    padding: 15px;
  }
}

@media (min-width: 760px) {
  .footer-legal-mentions {
    display: flex;
  }
  .footer-legal {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
  }
}

.footer a:hover {
  color: var(--dark-orange);
}
