.footer-container {
  display: flex;
}

.footer-table {
  padding: 40px 0;
  display: flex;
}

footer img {
  max-width: 80%;
}
footer {
  background: var(--lemon-mid);
}

footer p {
  padding-bottom: 5px;
}

.footer-in-table {
  padding-right: 20px;
}

// en petit
@media (max-width: 760px) {
  .footer-legal-mentions {
    display: block;
    padding: 15px;
  }
}

// en grand
@media (min-width: 760px) {
  .footer-legal-mentions {
    display: flex;
  }
  .footer-legal {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
  }

  footer img {
    padding-bottom: 40px;
  }
}
