.header-container {
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  box-shadow: 0 2px 15px #0000001a;
  background: #fff;
  position: sticky;
  padding: 10px;
  z-index: 1000;
}
