.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  box-shadow: 0 2px 15px #612e021a;
  background: #fff;
  position: sticky;
  padding: 20px;
  z-index: 1000;
}
