.logo-footer {
  img {
    width: 97px;
    height: 24px;
  }
}

// en grand
@media (min-width: 760px) {
  .logo-header {
    img {
      width: 137px;
      display: block;
    }
  }
}

// en petit
@media (max-width: 760px) {
  .logo-header {
    img {
      width: 137px;
      display: inline-block;
    }
  }
}
