@media (max-width: 992px) {
  .logo {
    position: relative;
    display: flex;
  }

  // .logo-footer {
  //   width: 97px;
  //   height: 24px;
  // }
}

// @media (min-width: 992px) {
//   h1 {
//     width: 152px;
//   }
// }

h1 {
  width: 97px;
  height: 24px;
}
