.main {
  background: #ffffff;
  box-shadow: 0 0 27px 0 rgba(166, 141, 2, 0.09);
  z-index: 100;
  position: relative;

  p {
    margin: 45px 0 35px 0;
  }
  img {
    transition: all 0.4s ease-in-out;

    &:hover {
      scale: 1.02;
    }
  }
}

@media (max-width: 760px) {
  .main {
    padding-bottom: 50px;

    p {
      margin: 25px 0 35px 0;
    }
  }
}
