nav {
  text-align: right;
}

.nav-desk {
  justify-content: space-between;
}

@media (max-width: 992px) {
  .nav-desk {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
}
