.picture-desk {
  max-width: 50%;
}

@media (max-width: 760px) {
  .picture-mobile {
    z-index: 100;
    width: 360px;
    padding-top: 44px;
    position: relative;
    top: 18px;
  }

  .picture-desk {
    display: none;
  }

  .picture-mobile-carousel {
    top: -8px;
    padding-top: 70px;
  }
}

@media (min-width: 760px) {
  .picture-mobile {
    display: none;
  }
}

.picture-intro {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  img {
    display: block;
    left: 0;
  }
}
