.picture-intro {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
}

.picture-container {
  position: relative;
  min-height: 127px;
}

.picture-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
}

.picture-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
}

@media (max-width: 760px) {
  .picture-mobile {
    z-index: 100;
    width: 360px;
    padding-top: 44px;
    position: relative;
    top: 18px;
  }

  .picture-desk,
  .picture-right,
  .picture-left,
  .picture-container {
    display: none;
  }

  .picture-mobile-carousel {
    top: -8px;
    padding-top: 70px;
  }
}

@media (min-width: 760px) {
  .picture-mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .picture-container {
    min-height: 240px;
  }

  .picture-left {
    width: 50%;
  }

  .picture-right {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .picture-intro {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .picture-container {
    min-height: 200px;
  }

  .picture-left {
    width: 45%;
  }

  .picture-right {
    width: 45%;
    max-width: 545px;
  }

  .picture-intro {
    width: 60%;
  }
}
