/* ====================================
// css variables
// ==================================== */

:root {
  --dark-grey: #131313;
  --orange: #ffc988;
  --dark-orange: #ebaf67;
  --yellow: #fff170;
  --dark-yellow: #efd45d;
  --green: #b3e4b1;
  --dark-green: #92ba91;
  --title: "BLUE OCEAN", serif;
  --text: "Satoshi", sans-serif;
  --lemon-mid: #fff8b6;
  --lemon-light: #fffbd8;
}

/* ====================================
// reset rules
// ==================================== */

::selection {
  background-color: var(--orange);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
  font-family: var(--text);
  color: var(--dark-grey);
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  user-select: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

main {
  background: #ffffff;
  box-shadow: 0 0 27px 0 rgba(166, 141, 2, 0.09);
  z-index: 100;
  position: relative;
}

main p {
  margin: 45px 0 35px 0;
}

// en grand
h2 {
  font-family: var(--title);
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 400;
}
h3 {
  font-size: 45px;
  font-family: var(--title);
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  z-index: 600;
  top: 141px;
  left: 232px;
}

h4 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 17px;
  padding: 11px 0;
}

@media (max-width: 1400px) {
  h3 {
    left: 60px;
  }
}

// en moyen
@media (max-width: 992px) {
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h3 {
    font-size: 31px;
    text-align: right;
    left: 44px;
  }
  h4 {
    font-size: 14px;
    padding: 7px 0;
  }
}

// en petit
@media (max-width: 760px) {
  h2 {
    font-size: 30px;
    line-height: 38px;
  }
  h3 {
    font-size: 21px;
    text-align: right;
    left: 20px;
  }
  h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 7px 0;
  }

  h1 {
    width: 122px;
    height: 56px;
  }

  p,
  h2,
  h4,
  span {
    z-index: 700;
    position: relative;
  }

  main p {
    margin: 25px 0 35px 0;
  }

  .ingreditents-visibility {
    display: none;
  }
  main {
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  h3 {
    left: 0px;
  }
}
