@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "BLUEOCEAN-Italic";
  src: url(../fonts/blue-ocean-italic.woff2);
}
@font-face {
  font-family: "Satoshi", sans-serif;
  src: url(../fonts/Satoshi-Regular.woff2);
}

/* ====================================
// css variables
// ==================================== */

:root {
  --dark-grey: #131313;
  --orange: #ffc988;
  --dark-orange: #ebaf67;
  --yellow: #fff170;
  --dark-yellow: #efd45d;
  --green: #b3e4b1;
  --dark-green: #92ba91;
  --title: "BLUEOCEAN-Italic";
  --text: "Satoshi", sans-serif;
  // --lemon-mid: #fff8b6;
  // --lemon-light: #fffbd8;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
  font-family: var(--text);
  color: var(--dark-grey);
  letter-spacing: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

h2 {
  font-family: var(--title);
  font-size: 67px;
}
h3 {
  font-size: 55px;
  font-family: var(--title);
}

.button {
  background: var(--orange);
  border-radius: 28px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.button-minus {
  border: solid 1.5px #131313;
  border-radius: 28px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

main {
  background: #ffffff;
  box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.09);
}

.button-yellow {
  background: var(--yellow);
}

.button-green {
  background: var(--green);
}

header {
  text-align: right;
}

footer {
  text-align: left;
}

@media (max-width: 769px) {
  html {
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    font-family: var(--text);
    color: var(--dark-grey);
  }
  h2 {
    font-size: 30px;
    line-height: 38px;
  }
  h3 {
    font-size: 21px;
    font-size: 21px;
    text-align: right;
  }
  h4 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 100;
  }
  .button {
    font-size: 11px;
  }

  .logo {
    position: relative;
  }
  h1 {
    width: 97px;
    height: 24px;
  }
  .logo-footer {
    width: 97px;
    height: 24px;
  }

  .picture {
    position: relative;
    transform: translate(0, 80);
    z-index: 100;
    max-width: 400px;
    max-height: 300px;
  }

  p,
  h3,
  h2,
  h1,
  span {
    z-index: 600;
    position: relative;
  }

  .ingreditents-visibility {
    display: none;
  }
}
