.l-main-banner {
  position: relative;
  min-height: 400px;
  display: flex;
}

.l-footer {
  text-align: left;
}

@media (max-width: 760px) {
  .l-body {
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    font-family: var(--text);
    color: var(--dark-grey);
  }

  .l-main-banner {
    min-height: 295px;
  }
}
