.l-main-banner {
  position: relative;
  min-height: 400px;
  display: flex;
}

.l-footer {
  text-align: left;
  background: var(--lemon-mid);
  background: linear-gradient(
    130deg,
    var(--lemon-mid) 0%,
    var(--lemon-mid) 63%,
    var(--lemon-light) 63%
  );
}

.l-footer-second {
  background-color: white;
  padding: 15px 0;
}

@media (max-width: 760px) {
  .l-body {
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    font-family: var(--text);
    color: var(--dark-grey);
  }

  .l-main-banner {
    min-height: 295px;
  }
}

.l-to-front {
  position: relative;
  z-index: 900;
}

@media (min-width: 760px) {
  .l-text-right {
    text-align: right;
  }
}
