@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "BLUE OCEAN";
  src: url("../fonts/BLUE-OCEAN.woff");
}

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Regular.woff2);
}

@font-face {
  font-family: "Satoshi-bold";
  src: url(../fonts/Satoshi-Bold.woff2);
}

@import "base";
@import "layout";
@import "modules/example";
@import "modules/button";
@import "modules/picture";
@import "modules/nav";
@import "modules/header";
@import "modules/footer";
@import "modules/logo";
@import "modules/bottle";
@import "modules/carousel";
