@import "bootstrap/scss/bootstrap-grid";
@import "swiper/swiper";

@font-face {
  font-family: "BLUE OCEAN";
  src: url("../fonts/BLUE-OCEAN.woff");
}

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Regular.woff2);
}

@font-face {
  font-family: "Satoshi-bold";
  src: url(../fonts/Satoshi-Bold.woff2);
}

@import "base";
@import "layout";
@import "modules/button";
@import "modules/picture";
@import "modules/nav";
@import "modules/header";
@import "modules/footer";
@import "modules/logo";
@import "modules/bottle";
@import "modules/carousel";
@import "modules/information";
@import "modules/table";
@import "modules/main";
@import "modules/ingredient";
@import "modules/swiper";
